################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerAspnetCore.Avipes/bin
/DockerAspnetCore.Avipes/obj
/DockerAspnetCore.Avonyu/bin
/DockerAspnetCore.Avonyu/obj
/DockerAspnetCore.slnLaunch.user
/DockerAspnetCore.Bizlyn/bin/Debug/net9.0
/DockerAspnetCore.Bizlyn/obj
/DockerAspnetCore.Blake/bin/Debug/net9.0
/DockerAspnetCore.Blake/obj
/DockerAspnetCore.Blue/obj
/DockerAspnetCore.Lingerolf/bin/Debug/net9.0
/DockerAspnetCore.Lingerolf/obj
/DockerAspnetCore.Universal/obj
/DockerAspnetCore.Universal/bin/Debug/net9.0
/DockerAspnetCore.Mavidadi/bin/Debug/net9.0
/DockerAspnetCore.Mavidadi/obj
/DockerAspnetCore.Mecramix/obj
/DockerAspnetCore.Mixoga/obj
/DockerAspnetCore.Miylo/obj
/DockerAspnetCore.Mytra/obj
/DockerAspnetCore.Natilus/bin/Debug/net9.0
/DockerAspnetCore.Natilus/obj
/DockerAspnetCore.Newsportix/obj
/DockerAspnetCore.Phayex/obj
/DockerAspnetCore.Philika/obj
/DockerAspnetCore.Semtinal/obj
/DockerAspnetCore.Setlirs/obj
/DockerAspnetCore.ThemeHospital/obj
/DockerAspnetCore.Twinfoots/obj
