################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerAspnetCore.Avipes/bin
/DockerAspnetCore.Avipes/obj
